@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/* ----------------------css for navbar start------------------------------ */
:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px;
}
.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
  text-decoration: none;
  margin-top: 10px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
  text-decoration: none;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
  
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
  
}
.header .logo img{
 height: 54px;
 width: auto;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
  
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
   
}
.nav-services{
  text-decoration: none;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
  text-decoration: none;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);
    	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#cf1414;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#cf1414;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
    list-style: none;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
    list-style: none;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
    list-style: none;
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}

button {
  /* font-size: 2em; */
  background: #7D1128;
  color: #fff;
  border: 0.2rem solid #7D1128;
  padding: 10px 20px;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #7D1128;
}
button::after {
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: -1;
  padding: 10px 20px;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
 .megamenu-img .megamenu-img img{
  width: 250PX;
  height: auto;
 }




/* ----------------------css for navbar end------------------------------ */




.home{
    margin-top: -40px;
}
/* .home .homecontents{
  margin: 80px;
} */
.home h1  .second{
    color: #7D1128;
    /* font-size: 60px; */
}
.home h1{
    font-size: 60px;
}
.home .words{
  margin-top: 120px;
}
.home p{
    opacity: .7;
    font-size: 18px;
}
.home img{
    height: auto;
    /* margin-left: 100px; */
}
.home .btn{
    color: white;
    background: #7D1128;
    border-radius: 0;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    margin: 5px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.home .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .home .btn span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    color: white;
    right: -20px;
    transition: 0.5s;
  }
  
  .home .btn:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .home .btn:hover span:after {
    opacity: 1;
    right: 0;
    
  }

  @media only screen and (max-width: 768px) {
    .home img{
      width:auto;
      height: auto;
      margin: 0 auto;
  }
  .home{
    margin-top: 110px;
  }
  .home .words{
    margin: 0 auto;
  }

  }
  /* .home .words{
    margin-top: 150px;
} */




/* ----------------------css for about------------------------------- */
.about{
    margin-top: 160px;
}
.about img{
    width:700px;
    height: auto;
    margin-top: -14px;
}

@media only screen and (max-width: 768px) {
  .about img{
    width:auto;
    height: auto;
}
.about p{
  margin-top: -200px;
}
}
.about .about-head{
    color: #7D1128;
}
.about h5{
    opacity: .7;
}
.about p{
    opacity: .6;
    justify-content: center;
}
.about .btn{
    color: white;
    background: #7D1128;
    border-radius: 0;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    margin: 5px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.about .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .about .btn span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    color: white;
    right: -20px;
    transition: 0.5s;
  }
  
  .about .btn:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .about .btn:hover span:after {
    opacity: 1;
    right: 0;
    
  }
  .about .words{
    background-color: rgb(255, 255, 255);
    height: 60px;
    padding: 0px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    border-radius: 10px;
  }
  /* .about .words p{
    color: #7D1128;
    padding-top: 16px;
    font-weight: bold;
  } */
.about .about-words{
    margin-top: 180px;
}
#more {display: none;}



/* ------------------------css for core-values start-------------------------- */
.core-values{
  margin-top: 200px;
}
/* .core-values h2{
  opacity: .7;
} */

.core-values .values{
  color: #7D1128;
}
.core-values .core-head{
    opacity: .7;
    
}
.core-list{
  margin-top: 30px;
  padding: 15px;
}
.core-list ul li{
  list-style: none;
  opacity: .7;
  
}
.headings{
  margin-left: 30px;
  opacity: .8;
}
.core-values img{
  width: 600px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .core-values{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .core-list{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

.contntbox{
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 12px; */
  padding: 15px;
  width: 350px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 12px;
  /* cursor: pointer; */
}
/* .contntbox:hover{
  border-color: 2px #7D1128;
} */

/* .core-list:hover .contntbox{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.core-list:hover .contntbox:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
   */
/* ------------------------css for core-values end-------------------------- */

/* ------------------------css for Services start-------------------------- */
.services{
  padding-top: 200px;
}
.services h5{
  opacity: .7;
  
}
.services h2{
  color: #000000;
}
.services .our-services{
color: #7D1128;
}
.services-contents{
  margin: 100px;
}
.services-contents .card{
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  width: 300px;
  height: 350px;
  padding: 10px;
  padding-top: 40px;
  transition: .5s;

}
.webdevelopment h5{
  font-size: 15px;
}
.card:hover {
  
  border: 100px #7D1128;
  transform:scale(1.1);
}
.services-contents img{
  width: 50px;
  margin-left: 12px;
}
.services-contents .card .card-text{
  opacity: .6;
}
.services-contents .card .card-title{
  opacity: .8;
}
.card .card-body .btn{
  margin-left: -13px;
}
.card .card-body .btn:hover{
  margin-left: -13px;
  color: #7D1128;
}
.card .card-body .btn hr{
  margin-top: 0px;
  color: #7D1128;
}
#mor {display: none;}

@media only screen and (max-width: 768px) {
  .services-contents{
    margin: 0 auto;
    padding-top: 50px;
  }
  .card {
    margin: 0 auto;

    justify-content: center;
    align-self: center;
  }
}


/* ------------------------css for Services end-------------------------- */

/* ------------------------css for clients start-------------------------- */
  .clients{
    margin-top: 200px;
    background: #f7f7f7;
    padding: 30px;
  }
  
  .clients .our-clients{
    color: #7D1128;
    }
    .clients p{
      opacity: .7;
    }
    .client-logos{
      background: white;
      width: 80%;
      padding: 50px;
      margin: 0 auto;
      margin-bottom: 50px;
     
    }
    .clientlogos{
      justify-content: center;
      margin: 0 auto;
      align-items: center;
    }
    .bhabha{
      width: 150px;
      height: auto;
    }
    .nambiyath{
      width: 180px;
      height: auto;
    }
    .aaloka{
      width: 180px;
      height: auto;
    }
    .bfix{
      width: 130px;
      height: auto;
    }
    .dentmaster{
      width: 200px;
      height: auto;
    }
    .dartc{
      width: 200px;
      height: auto;
    }
    .torola{
      width: 200px;
      height: auto;
    }
    .insure{
      width: 200px;
      height: auto;
    }
    
    
/* ------------------------css for clients end-------------------------- */



/* ------------------------css for customers start-------------------------- */
.customers{
  margin-top: 200px;
}
.customers h5{
  opacity: .7;
}
.customers h2{
  color: #7D1128;
}
.wrapper{
  width: 100%;
}
.wrapper .logos{
  margin-top: 60px;
  align-items: center;
  display: flex; 
}
.wrapper .carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.logosize{
  height: 125px;
  width: 125px;
  margin-top: 10px;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 15px;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid #9bc8e6!important;
  transition: all 0.3s ease;
}
/* .owl-dot:hover,
.owl-dot:active{
  height: 30px;
  width: 15px;
  border-color: #7D1128;
} */
.owl-carousel .active span {
  width:10px;
  height:10px;
  margin:0px 7px;
  background: rgb(224, 211, 240) !important;
  display:block;
 
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}
@media only screen and (max-width: 768px) {
  .owl-dots{
    display: none;
}

}
/* ------------------------css for customers end-------------------------- */

/* ------------------------css for contact start-------------------------- */
.contacts{
  margin-top: 200px;
}
.contacts h2{
  color: #000000;
}
.contacts h5{
  color: #7D1128;
}
.contacts .contacthead{
color: #7D1128;
}
.contacts p{
  opacity: .7;
}
.contacts form{
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  border: #7D1128;
  width:360px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border: 10px #000000;
  margin-left: 100px;
  height: 400px;
  border-radius: 10px;
  /* padding-top: 70px;
  padding-left: 25px; */
  padding-top: 60px;
 
}
.contacts form button{
  border-color: #7D1128;
  color: #7D1128;
  width: 150px;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contacts form button:hover{
  background-color: #7D1128;
  color: #ffffff;
}
.contacts form input{
  font-size: 12px;
  height: 40px;
  width: 300px;
  margin: 0 auto;
}
.contacts form textarea{
  font-size: 12px;
  width: 300px;
  margin: 0 auto;
}
.contacts img{
  width: 500px;
  
}
@media only screen and (max-width: 768px) {
  .contacts form{
    margin: 0 auto;
}
.contacts img{
  margin-top: 50px;
}
}



/* ------------------------css for contact end-------------------------- */



/* ------------------------css for footer start-------------------------- */
/* @media only screen and (max-width: 768px) {
  .footer{
    margin-top: 500px;
}
} */

.footer{
  margin-top: 200px;
  background: #212529;
 
}
.text-small {
  font-size: 0.9rem;
}
.footer img{
  margin-bottom: 20px;
  margin-top: -30px;
}
.footer a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.footer a:hover, .footer a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

/* ------------------------css for footer end-------------------------- */



/* ------------------------address------------------------------- */

.shopping-cart-container {
  display: flex;
}

.shopping-cart-container .shopping-cart-icon {
  padding: 0px;
  font-size: 20px;
  color: white;
  opacity: .5;
  margin-top: 5px;
}
.shopping-cart-container .shopping-cart-iconmail {
  padding: 0px;
  font-size: 15px;
  color: white;
  opacity: .5;
 margin-top: 10px;
}
.shopping-cart-container .shopping-cart-iconphone{
  padding: 0px;
  font-size: 18px;
  color: white;
  opacity: .5;
  margin-top: 5px;
}
.shopping-cart-container .shopping-cart-section {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: white;
  opacity: .8;
}

.shopping-cart-container .shopping-cart-section .shopping-cart-name {
  padding: 0px;
  flex-grow: 1;
}

.shopping-cart-container .shopping-cart-section .shopping-cart-price {
  padding: 0px;
  flex-grow: 1;
}

.mail{
  margin-top: 10px;
}
.phone{
  margin-top: 10px;
}

/* ------------------------address------------------------------- */



/* ------------------------social media icons------------------------------- */

.demopadding {
  margin-top: 20px;
  width:200px;
  text-align:center;
}
.icon {
    position:relative;
    text-align:center;
    width:0px;
    height:0px;
    padding:15px;
    border-top-right-radius: 	20px;
    border-top-left-radius: 	20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 	20px; 
    color:#FFFFFF;
}
.icon i {
    font-size:15px;
    position:absolute;
    left:2px;
    top:5px;
}
.icon.social {
    float:left;
    margin:0 5px 0 0;
    cursor:pointer;
    background:#f0f0f1 ;
    color:#262626;
  opacity: .8;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
}
.icon.social:hover {
    background:#262626 ;
    color:#f0f0f1;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
    filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
    left:10px;
    top:8px;
}
.icon.social.inst i {
    left:9px;
    top:7px;
}
.icon.social.in i {
    left:9px;
    top:6px;
}
.icon.social.you i {
    left:8px;
    top:7px;
}

/* ------------------------social media icons------------------------------- */






/* ------------------------quick links------------------------------- */

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

/* ------------------------quick links------------------------------- */


@media only screen and (max-width: 768px) {
  .footer{
    margin: 0 auto;
}

}





